backend/EntertainmentAgency/.vs/ProjectEvaluation/entertainmentagency.projects.v9.bin
backend/EntertainmentAgency/.vs/EntertainmentAgency/FileContentIndex/3fc361c7-e93c-44a4-8bbb-887e3f60182a.vsidx
backend/EntertainmentAgency/.vs/EntertainmentAgency/FileContentIndex/090d6919-1753-4290-8e5c-bfa9220e9d56.vsidx
backend/EntertainmentAgency/.vs/EntertainmentAgency/FileContentIndex/289b793a-4e50-48d4-9e9a-c00e52ccccf1.vsidx
backend/EntertainmentAgency/.vs/EntertainmentAgency/FileContentIndex/d67bd370-c72a-4bbe-84f3-07de579ade4d.vsidx
backend/EntertainmentAgency/.vs/EntertainmentAgency/FileContentIndex/fdfbab13-e7f5-43a7-8de5-98d68694e854.vsidx
